.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: flex-start;

	height: 100vh;

	span {
		--coefficient: 5;

		color: white;
		font-size: calc(4rem + max(var(--coefficient) * 1vw, var(--min-body-width) * var(--coefficient) / 100));
		text-align: center;
	}
}