.list-item {
	display: flex;
	flex-direction: column;
	gap: 8px;

	background-color: yellow;

	> a {
		width: 100%;
		display: block;
		height: 100%;

		:hover {
			text-decoration: underline;
		}
	}
}