.list-item {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 8px;

	position: relative;

	border-radius: var(--border-radius);

	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}

	> a {
		display: flex;
		flex-direction: column;
		gap: 8px;

		width: 100%;
		height: 100%;

		&:hover,
		&:focus-within {
			span {
				text-decoration: underline;
			}
		}
	}

	+ .list-item::before {
		content: '';
		width: 100%;

		position: absolute;
		top: calc(var(--gap) / -2);
		left: 0;

		border: 1px solid black;
	}
}