html,
body {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 1fr 100px;
	grid-template-areas:
		"main"
		"footer";

	min-width: var(--min-body-width);

	background-color: var(--primary);

	font-family: Piazzolla, serif;
}

html {
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	display: none;
}

input,
select {
	appearance: none;
	border: unset;
}

input,
input::placeholder {
	font-family: Piazzolla, serif;
}

a:visited {
	color: var(--visited-link-color);
}
